$light-bg-color: #f5f5f5;
$dark-bg-color: #e7e7e7;
$title-color: #000000;
$black: #000000;
$white: #ffffff;
$border-color: #e5e5e5;
$border-dark-color: #afafaf;
$border-hover-color: #8fd144;
$text-gray-color: #6C6C6C;